body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
/* ----------header section start--------- */
.header-sec{
    display: flex;
}
.header-sec div{
    width: 50%;
    display: inline;
    
}
.header-sec img{
    width: 80%;
    
}
.head-text{
    margin: 10% 0% 0% 10%;
    line-height: 20px;
    
}
.head-tit h1{
    font-weight: 100;
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    line-height: 70px;
    padding-left: 10px;
    margin: 0;
    color: rgb(44, 43, 43);
     
}
.head-tit span{
    color: #30B99EFF;
}
.para{
    font-size: 14px;
    color: rgb(78, 75, 75);
    padding: 15px 0px;
    margin-top: -10px;
}
.para2{
    font-size: 14px;
    color: rgb(78, 75, 75);
    padding: 20px 0px;
    
}
.head-text a{
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background-color: #30B99EFF;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15%;
}

/* ---------------header section end------------*/

/* ---------------my mission section start------------*/
.sec-2{
    margin: 10% 10%;
}
.sec-2 h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(10, 10, 43);

}
.sec-2 h1 span{
    color: #30B99EFF;
}
.box{
    display: flex;
}
.card{
    width: 33%;
    margin: 10px 10px;
    padding: 20px 25px;
    border-radius: 10px;
}
.card h3{
    font-size: 25px;
}
.card img{
    width: 150px;

}
#card1{
    background-color: #D6F6F6;
}
#card2{
    background-color: #DDFFDD;
}
#card3{
    background-color: #FFE5FF;
}
/* ---------------my mission section end------------*/

/* ---------------develop section start------------*/
.dev-sec{
    margin: 5% 10%;
    display: flex;
}
.develop-pic img{
    
    width: 90%;
}
.develop-text{
    margin-top: 4%;
    padding: 0px 20px;
    color: rgb(51, 51, 51);
}
.develop-text h1{
    font-size: 30px;
    line-height: 20px;
    font-weight: 900;
    

}
.develop-text p{
   margin-bottom: 40px;
   
}
.dev-btn{
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background-color: #30B99EFF;
    border-radius: 5px;
    font-size: 15px;
}
.pic2 img{
    width: 80%;
    padding-left: 60px;

}


/* ---------------develop section end------------*/

/* ---------------WHAT WE DO? section start------------*/
#section5{
    display: flex;
    color: white;
    padding: 5% 10%;
    background-color: #100028;
}
.sec-5-text{
    margin: 0px 20px;
}
.sec-5-text a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    border: 2px solid turquoise;
    border-radius: 10px;
}
.inner-text{
    padding: 15px;
}
.inner-text img{
    width: 70px;
    
}
/* ---------------WHAT WE DO? section end------------*/
footer{
    text-align: center;
    background-color: rgb(8, 3, 24);
    color: white;
    padding: 20px;
    line-height: 20px;
    
}
footer h2{
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 28px;

}
footer h2 span{
    color: turquoise;
}
footer p{
    font-size: 10px;
}