body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
/* ----------header section start--------- */
.header-sec{
    display: flex;
}
.h-sec{
    width: 50%;
    display: inline;
    
}
.header-sec img{
    width: 80%;
    margin-top: 50px;
    
}
.head-text{
    margin: 10% 0% 0% 10%;
    
}
.side-line{
    position: absolute;
    width: 4px;
    height: 124px;
    left: 135px;
    top: 187px;
    border-radius: 5px;
    background: #FF5959;
}
.head-tit h1{
    color: #333333;
    position: relative;
    width: 503px;
    height: 160px;
    left: 15px;
    top: -15px;
    font-family: Yeseva One;
    font-weight:400;
    font-size: 60px;
    line-height: 80px;
    
}
.head-tit span{
    color: #30B99EFF;
}
.para{
    position: relative;
    width: 471px;
    height: 84px;
    left: 0px;
    top: -50px;
    line-height: 28px;
    color: #3E3E3E;
}
.para2{
    font-size: 14px;
    color: #3E3E3E;
    padding: 20px 0px;
    
}
.head-text a{
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background-color: #30B99EFF;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    left: 135px;
    top: 450px;
    
}

/* ---------------header section end------------*/

/* ---------------my mission section start------------*/
.sec-2{
    margin: 10% 10%;
}
.sec-2 h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(10, 10, 43);

}
.sec-2 h1 span{
    color: #30B99EFF;
}
.box{
    display: flex;
}
.card{
    width: 33%;
    margin: 10px 10px;
    padding: 20px 25px;
    border-radius: 10px;
}
.card h3{
    font-size: 25px;
}
.card img{
    width: 150px;

}
#card1{
    background-color: #D6F6F6;
}
#card2{
    background-color: #DDFFDD;
}
#card3{
    background-color: #FFE5FF;
}
/* ---------------my mission section end------------*/

/* ---------------develop section start------------*/
.dev-sec{
    margin: 5% 10%;
    display: flex;
}
.develop-pic img{
    
    width: 90%;
}
.develop-text{
    margin-top: 4%;
    padding: 0px 20px;
    color: rgb(51, 51, 51);
}
.develop-text h1{
    font-size: 30px;
    line-height: 20px;
    font-weight: 900;
    

}
.develop-text p{
   margin-bottom: 40px;
   
}
.dev-btn{
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background-color: #30B99EFF;
    border-radius: 5px;
    font-size: 15px;
}
.pic2 img{
    width: 80%;
    padding-left: 60px;

}


/* ---------------develop section end------------*/

/* ---------------WHAT WE DO? section start------------*/
#section5{
    display: flex;
    color: white;
    padding: 5% 10%;
    background-color: #100028;
}
.sec-5-text{
    margin: 0px 20px;
}
.sec-5-text h3{
    color: #30B99EFF;
}
.sec-5-text h2{
    color: #30B99EFF;
}
.sec-5-text a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    border: 2px solid turquoise;
    border-radius: 10px;
}
.inner-text{
    padding: 15px;
}
.inner-text img{
    width: 70px;
    
}
/* ---------------WHAT WE DO? section end------------*/
footer{
    text-align: center;
    background-color: rgb(8, 3, 24);
    color: white;
    padding: 20px;
    line-height: 20px;
    
}
footer h2{
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 28px;

}
footer h2 span{
    color: turquoise;
}
footer p{
    font-size: 10px;
}
